.nav-menu {
  width: 100%;
  margin: 0;
  top: 0;
  color: #ccc;
}

.fixed-nav {
  position: fixed;
}

// .ul-menu {
// display: grid;
//     grid-template-columns: 1fr auto 1fr;
//   list-style: none;
//   display: flex;
//   margin: 0;
//   padding: 0;
//   font-size:14px;
// }

body {
  margin: 0;
  padding: 0;
  
}

.header {
  padding: 2.5px
  
}

nav {
  width: 100%;
  margin: 0;
  top: 0;
  background: linear-gradient(135deg, rgb(75, 121, 110) 0%,rgb(24, 54, 88) 0%,rgb(66, 97, 90) 0%,rgb(68, 104, 121) 100%);
  color: #ccc;
  text-decoration:none;
  transition: .3s;
}

li {
  height: 100%;
  flex: 1;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color:black;
  text-decoration: none;
  font-size:16px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

li:hover {
  color: #212121;
  text-decoration: none;
}
a {
  color:#ffffff;
  font-weight: 300;

}
a:hover {
  text-decoration: none;
  color:#f7f7f7;
}

.fixed-nav {
  position: fixed;
  padding:0;
  height: 78px;
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  padding-top: 20px;
}

.content > div {
  margin: 10px 0;
}
.nav-item {
   display:inline-block;
   padding:1.5em;
}

.icons-menu {
    size:20px;
}

.ul-menu {
  transition: .3s;
 
}

.nav-item {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  background: linear-gradient(135deg, rgb(61, 92, 85) 0%,rgb(81, 101, 124) 0%,rgb(53, 119, 104) 0%,rgb(41, 81, 100) 100%);
  justify-content: center;
  align-items: center;
  background:transparent;
  overflow:hidden;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  
  &:nth-of-type(5):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color:white;  
    &:after {
      width: 100%;
      left: 0;
    }
  }
}


.cart {
  float:right;
}


a {
  color:#999999;  
}