


.categories {
    align-items: center;
    display:flex;
    align-items:center;
    justify-content: center;
    align-content: center;
     margin-top: 3px;
     width: 100%;
     padding:15px;
     display:inline-block;
      transition-duration: 0.9s;
      justify-content: center;
}
.category {
    padding:10px;
    top: 0;
    display: inline-block;
    text-decoration: none;
    color:#131f38;
    width:auto;
    font-size:14px;
}
 .category-menu {
   width:100px;
   height: 20px;
    flex: 1 1 auto;
    color:white;
    margin: 10px;
    padding: 15px;
    border-bottom: 2px solid #f7f7f7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(135deg, rgb(75, 121, 110) 0%,rgb(24, 54, 88) 0%,rgb(66, 97, 90) 0%,rgb(68, 104, 121) 100%);
    justify-content: center;
    border-radius:5%;
    align-items: center;
    overflow:hidden;
    transition: .3s;
    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #f7f7f7;
    }
    
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color:rgb(221, 216, 216);  
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }


  
