


.categories {
    align-items: center;
    display:flex;
    align-items:center;
    justify-content: center;
    align-content: center;
     margin-top: 3px;
     width: 100%;
     padding:15px;
     display:inline-block;
      transition-duration: 0.9s;
      justify-content: center;
}
.category {
    padding:10px;
    top: 0;
    display: inline-block;
    text-decoration: none;
    color:white;
    width:auto;
    font-size:14px;
}
 .category-menu {
    flex: 1 1 auto;
    color:white;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transition: .3s;
    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #f7f7f7;
    }
    
    &:nth-of-type(5):after {
      height: 120%;
      left: -10%;
      transform: skewX(15deg);
      z-index: -1;
    }
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color:#999;  
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }


  
