@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/bootstrap/scss/bootstrap';

nav {
margin-top:5%;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}

.nav-item {
   display:inline-block;
   padding:1.5em;
}

a {
   padding:8px;
   background-color:rgb(52, 209, 94);
   border-radius:5%;
   color:white;
   text-decoration: none;
   align-items:center;
 }

 a:hover {
     text-decoration: none;
     color:rgb(190, 237, 202);
 }

 .welcome {
     display:flex;
     align-items:center;
     justify-content: center;
     align-content: center;
     flex-direction: column;
 }

 .invoiceTable {
     display: flex;
     flex-direction: row;
     color:red;
     padding:1.5em;
 }

 .rowTable {
     display:flex;
     flex-direction: row;
 }

 .welcome {
   display:flex;
   align-content: center;
   align-items:center;
 }